@font-face {
  font-family: "Poppins";
  src: local("Poppins"),
   url("./fonts/Poppins.ttf") format("truetype");
  }

body, html, #root {
    font-family: 'Poppins', sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    background: #F9F9F9;
}

.black-logo {
  background-image: url("./assets/black_logo.png") !important;
}

.pink {
  color: #EF27A6;
}

.white,
.white * {
  color: #F9F9F9 !important;
}

.page-content {
  min-height: calc(100vh - 246px);
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1000px;
  margin: 100px auto 72px auto;
}

.page-content.small-content {
  margin: auto;
}

.navigation-wrapper {
  position: fixed;
  top: 0;
  width: 100%;
}

.navigation {
  font-family: 'Poppins';
  height: 88px;
  max-width: 100%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-around;
  letter-spacing: 0.38px;
}

.scroll-navigation {
  background-color: #f9f9f9 !important;
  box-shadow: 0px 4px 11px rgba(41, 41, 41, 0.2);
}

.scroll-navigation > .logo {
  background-image: url("./assets/black_logo.png");
}
.navigation .links > a {
  color: #292929;
}

.scroll-navigation .links > a {
  color: #292929 !important;
}

.logo {
  width: 150px;
  height: 50px;
  background-image: url("./assets/white_logo.png");
  background-repeat: no-repeat;
}

.links {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.links > a {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 15px;
  line-height: 24px;
  text-decoration: none;
  border-bottom: 2px solid transparent;
}

.pink-underline {
  border-bottom: 2px solid #EF27A6 !important;
}

.links > a:hover {
  border-bottom: 2px solid #EF27A6;
}

.footer {
  height: 246px;
  background-color: #292929;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.38px;
  color: #F9F9F9;
  bottom: 0 !important;
}

 .footer .links {
  font-size: 13px;
  width: 30%;
 }

.footer .footer-wrapper {
  padding: 30px 105px 50px 105px;
  height: 166px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer .footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer .footer-content .links > a {
  font-size: 13px;
}

button {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.38px;
  color: #292929;
}

.home-hero {
  top: 0;
  height: 700px;
  width: 100%;
  background-image: url("./assets/dt_home_hero_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-hero .main-text {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 72px;
  line-height: 24px;
  letter-spacing: 0.38px;
  color: #F9F9F9;
}

.home-hero .sub-text {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 400;
  font-size: 28px;
  line-height: 38px;
  letter-spacing: 0.38px;
  color: #F9F9F9;
  font-weight: 600;
  font-style: italic;
}

.home-hero button {
  background: #F9F9F9;
  border: 1px solid #F9F9F9;
  box-sizing: border-box;
  width: 360px;
  height: 50px;
  
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.38px;
  color: #292929;
}

.home-content-wrapper {
  max-width: 1016px;
  margin: auto;
}

.home-content {
  display:  flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}

.home-content-card {
  margin-bottom: 80px;
  width: 45%;
  min-height: 320px;
}

.home-content-card > .title-wrapper {
  border-bottom: 2px solid #EF27A6;
}

.home-content-card > .title-wrapper > .title {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 24px;
  letter-spacing: 0.38px;
  color: #292929;
  margin-bottom: 12.5px;
}
.flex-d-important {
  flex-direction: column !important;
}
.ml-20 {
  margin-left: 20px;
}

.ml-56 {
  margin-left: 56px;
}

.mt-180 {
  margin-top: 180px;
}

.ml-45p {
  margin-left: 45%;
}

.home-content-card > .text {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.38px;
  color: #292929;
  margin-top: 13px;
}

.image-cta {
  display: flex;
  max-width: 1000px;
  margin: auto;
  margin-bottom: 80px;
  align-items: center;
  min-height: 550px;
}

#image-cta-copy {
  display: flex;
  flex-direction: column;
}

.image-cta .title {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 72px;
  line-height: 73px;
  letter-spacing: 0.38px;
  color: #292929;
  padding-top: 50px;
}

.image-cta .description {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 400;
  font-size: 28px;
  line-height: 38px;
  letter-spacing: 0.38px;
  color: #292929;
  margin-top: 30px;
}

button {
  width: 326px;
  height: 50px;
  left: 555.92px;
  top: 337.76px;
  background: #F9F9F9;
  box-sizing: border-box;
  border: 2px solid #EF27A6;
  box-sizing: border-box;
  margin-top: 35px;
}

.image-cta .image-wrapper {
  max-width: 45%;
  margin-right: 50px;
}

.image-cta img {
  width: auto;
  height: auto;
}

.contact {
  display: flex;
  max-width: 1200px;
  margin: auto;
  padding-bottom: 100px;
  justify-content: space-between;
}

.contact .contact-form {
  display: flex;
  flex-direction: column;
}

.contact .content {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.contact .contact-content .title {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 72px;
  line-height: 73px;
  letter-spacing: 0.38px;
  color: #292929;
  margin-bottom: 74px;
}

.contact .contact-content .description {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 38px;
  letter-spacing: 0.38px;
  color: #292929;
  margin-bottom: 100px;
}

.contact .contact-content .impact-text {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 38px;
  letter-spacing: 0.38px;
  color: #EF27A6;
}

.contact .contact-form {
  width: 360px;
}

.contact .contact-form > input,
.contact .contact-form > textarea {
  width: 100%;
  border:none;
  padding: 10px 0px;
  outline: none;
  border-bottom: 2px solid #EF27A6;
  background: #F9F9F9;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0.38px;
  color: #292929;
  margin-top: 40px;
}

.contact .contact-form > textarea {
  height: 140px;
}

.contact .contact-form > input::placeholder
.contact .contact-form > textarea::placeholder {
  color: #ADADAD;
}

.contact .contact-form .checkbox {
  display: flex;
  align-items: center;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0.38px;
  color: #292929;
}

.contact .contact-form .checkbox a {
  color: #EF27A6;
  text-decoration: none;
}

.contact .contact-form .checkbox a:hover {
  text-decoration: underline;
}

.content-box {
  padding: 23.5px 48px;
  width: 100%;
  border: 2px solid #EF27A6;
  box-sizing: border-box;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.38px;
  color: #292929;
  
  margin-bottom: 80px;
}

.content-text {
  margin-bottom: 80px;
  max-width: 800px;
  width: 100%;
}

.content-text .title-wrapper {
  border-bottom: 2px solid #EF27A6;
  margin-bottom: 17px;
}

.content-text .title-wrapper .title {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 24px;
  letter-spacing: 0.38px;
  color: #292929;
  padding: 0 0 13px 0;
}

@media only screen and (max-width: 480px) {
  .page-content, .home-content-wrapper, .contact {
    margin: auto 38px;
  }
  
  .home-content-card > .text,
  .contact .contact-content .description {
    font-size: 15px;
    line-height: 24px;
  }
  .home-hero .main-text,
  .contact .contact-content .title,
  .image-cta .title {
    font-size: 50px;
    line-height: 51px;
  }
  .home-hero .sub-text,
  .image-cta .description {
    font-size: 22px;
    line-height: 24px;
  }
  
  .home-hero {
    background-image: url("./assets/mb_home_hero_bg.png");
  }
  .home-hero button {
    width: 100%; 
  }
  .home-hero > div {
    margin: 0 25px;
    width: 80%;
  }
  .home-content {
    margin-bottom: 100px;
  }
  .home-content, .contact {
    flex-direction: column;
  }
  .home-content-card {
    width: 100%;
  }
  .title-wrapper .title,
  .home-content-card .text {
    margin-left: 20px !important;
  }
  .contact .contact-content .description,
  .contact .contact-content .title {
    margin-bottom: 44px;
    hyphens: auto;
  }
  .contact .contact-form {
    width: 100%;
  }
  .home-content-card{
    margin-bottom: 71px;
  }
  
  .image-cta {
    flex-direction: column-reverse;
    width: 100%;
    margin: 62px 0 65px 0;
  }
  .image-cta .image-wrapper {
    max-width: 100%;
    margin: 20px 0 0 0;
  }

  .page-content.small-content {
    margin: 38px 38px auto 38px;
  }
  
  .footer {
    height: 340px;
  }
  .footer .footer-wrapper {
    padding: 0 25px;
  }
  .footer .footer-content,
  .footer-wrapper,
  .footer-content,
  .footer .links {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
  }
  .footer .footer-content div {
    margin: 20px 0;
  }
}